.card-header {
    width: 100%;
    text-align: center;
}

.card {
    width: 100%;
}

.card-title {
    text-align: center;
}

.list-group  {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-title {
    text-align: center;
}

