<div class="course-card">
  <div>
    <img src="{{post.Poster.Picture}}" width="75" height="75">
  </div>
  <div class="course-title">
      <h3>{{post.Content}}</h3>
  </div>

  <div class="post-upvotes">
      {{post.UpVotes}}
      <button (click) = "UpVote()">Up vote</button>
  </div>

  <div>
    {{post.DownVotes}}
    <button (click) = "DownVote()">down vote</button>
  </div>

  <div>
  {{post.TotalVote}}
</div>
  <button (click) = "ViewComments()" >view comments</button>
  <div *ngIf = "flag">
      <app-comments *ngFor="let C of AllComments"
      [Comment] = "C">></app-comments>
  </div>

  </div>