<div class="card border-primary">
    <div class="card-header">
      User: {{post.Poster.DisplayName}}       Points: {{post.Poster.Points}}
    </div>
    
    <div >
      <h5 class="card-title">
        
        <img src="{{post.Poster.Picture}}" alt="" class="img-thumbnail">
      </h5>
      <br><br>
      <h3 class="card-text">{{post.Content}} <br>{{post.TotalVote}}</h3><br><br><br>
      <div class = "container">
      <div class= "row" style="width:1000px;">
           
        <div class= "col text-center">
            
            <a class="btn btn-primary" (click) = "UpVote()">Up Vote</a><br>{{post.UpVotes}}
        </div>

        <div class= "col text-center">
        <a class="btn btn-primary" (click) = "DownVote()">Down Vote</a><br>{{post.DownVotes}}<br>
        </div>
        <div class= "col text-center">
        <a class="btn btn-primary" (click) = "ViewComments()">View Comments</a>
        </div>
        <div class= "col text-center">
        <a class="btn btn-primary" (click) = "AddComment()">Add Comment</a>
      </div>
      
        </div>
        <div *ngIf = "flag">
        <app-comments *ngFor="let C of AllComments"
          [Comment] = "C"></app-comments>
        </div>
        
        <div *ngIf = "flag2">
            <input #Coment type = "text">
            <a class="btn btn-primary" (click) = "submit(Coment.value)">Submit</a>
        </div>
        </div>
    </div>
  <br>
</div>
