<div class="navbar">
    <button (click)="myClickFunction($event,'Home')">S3P</button>
    <button (click)="myClickFunction($event,'Profile')">Profile</button>
    <button (click)="myClickFunction($event,'Inbox')">Inbox</button>
    <button (click)="myClickFunction($event,'Social')">Social</button>
    <button (click)="myClickFunction($event,'CreatePost')">Create Post</button>
    <div class="dropdown">
      <button class="dropbtn">Feeds 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
          <button (click)="myClickFunction($event,'TopPost')">Top Posts</button>
          <button (click)="myClickFunction($event,'TopGroupPost')">Top Group Posts</button>
          <button (click)="myClickFunction($event,'TopFollowing')">Top Following</button>
          <button (click)="myClickFunction($event,'TopBattles')">Top Battles</button>
          <button (click)="myClickFunction($event,'YourPosts')">Your Top Posts</button>
      </div>
    </div> 
  <button (click)="myClickFunction($event,'LogIn')"> Login/SignUp</button>
  <button (click)="myClickFunction($event,'LogOut')"> LogOut</button>
</div>
<div *ngIf = "onclickLogOut">
    {{message}}
  </div>
<div *ngIf = "onclickLogIn">
  <app-log-in></app-log-in>
</div>
<div *ngIf = "onclickProfile">
  <app-profile-page></app-profile-page>
</div>
<div *ngIf = "onclickInbox">
   <app-messaging></app-messaging>
</div>
<div *ngIf = "onclickSocial">
  <app-social></app-social>
</div>
<div *ngIf = "onclickTopPost">
  <app-top-posts></app-top-posts>
</div>
<div *ngIf = "onclickTopFollowing">
  <app-top-followers-posts></app-top-followers-posts>
</div>
<div *ngIf = "onclickTopGroupPost">
  <app-top-group-posts></app-top-group-posts>
</div>
<div *ngIf = "onclickTopBattles">
  Battles
</div>
<div *ngIf = "onclickHome">
    HomePage
</div>
<div *ngIf = "onclickBattles">
  <app-wars></app-wars>
</div>
<div *ngIf = "onclickYourPosts">
  <app-your-top-posts></app-your-top-posts>
</div>
<div *ngIf = "onclickCreatePost">
  create post link
</div>
