<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="CrAzYnAvBAr">
    <button (click)="myClickFunction($event,'Home')">S3P</button>
    <button (click)="myClickFunction($event,'Profile')">Profile</button>
    <button (click)="myClickFunction($event,'Inbox')">Inbox</button>
    <button (click)="myClickFunction($event,'Social')">Social</button>
    <button (click)="myClickFunction($event,'CreatePost')">Create Post</button>
    <div class="CraZyDrOpDoWn">
      <button class="dropbtn">Feeds 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="CrAzYdRopDoWn-CoNtEnt">
          <button (click)="myClickFunction($event,'TopPost')">Top Posts</button>
          <button (click)="myClickFunction($event,'TopGroupPost')">Top Group Posts</button>
          <button (click)="myClickFunction($event,'TopFollowing')">Top Following</button>
          <button (click)="myClickFunction($event,'YourPosts')">Your Top Posts</button>
      </div>
    </div> 
  <button (click)="myClickFunction($event,'LogIn')"> Login/SignUp</button>
  <button (click)="myClickFunction($event,'LogOut')"> LogOut</button>
</div>
<div *ngIf = "onclickLogOut">
    {{message}}
  </div>
<div *ngIf = "onclickLogIn">
  <app-log-in></app-log-in>
</div>
<div *ngIf = "onclickProfile">
  <app-profile-page></app-profile-page>
</div>
<div *ngIf = "onclickInbox">
   <app-messaging></app-messaging>
</div>
<div *ngIf = "onclickSocial">
  <app-social></app-social>
</div>
<div *ngIf = "onclickTopPost">
  <app-top-posts></app-top-posts>
</div>
<div *ngIf = "onclickTopFollowing">
  <app-top-followers-posts></app-top-followers-posts>
</div>
<div *ngIf = "onclickTopGroupPost">
  <app-top-group-posts></app-top-group-posts>
</div>
<div *ngIf = "onclickHome">
    <app-home-page></app-home-page>
</div>
<div *ngIf = "onclickYourPosts">
  <app-your-top-posts></app-your-top-posts>
</div>
<div *ngIf = "onclickCreatePost">
  <app-create-post></app-create-post>
</div>
