/* Navbar container */
.CrAzYnAvBAr {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .CrAzYnAvBAr button {
    float: left;
    overflow: hidden;
    font-size: 16px;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    outline: none;
  }
  
  /* The dropdown container */
  .CraZyDrOpDoWn {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .CraZyDrOpDoWn .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to CrAzYnAvBAr links on hover */
  .CrAzYnAvBAr button:hover, .CraZyDrOpDoWn:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .CrAzYdRopDoWn-CoNtEnt {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .CrAzYdRopDoWn-CoNtEnt button {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content button:hover {
    background-color: red;
    color: black;
  }
  
  /* Show the dropdown menu on hover */
  .CraZyDrOpDoWn:hover .CrAzYdRopDoWn-CoNtEnt {
    display: block;
  }