<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="panel panel-primary">

    


    <div class="panel-heading">
    <p>
    
        <img style="border:5px solid black;" src="{{imageAddress}}" width="75" height="75" >
    
        {{screenName}}

    </p>
    </div>


    <div *ngIf=otherCompare>
    
        <button (Click)="AddFollower(CurrentUser,ClickedUser)" class="btn btn-primary">Follow</button>

    </div>


    <br>

    <div class="panel-body">
        <div id="description">
            {{description}}
        </div>
    </div>

    <div *ngIf=compare>

    
        <button (click)="toggleEdit()" class="btn btn-primary">Edit Profile</button>

   
        <div *ngIf=display>
    
        
            <p>Enter an image address to change your icon</p>
        
            <br>
        
            <input [(ngModel)]="imageAddress">
        
            <p>Enter a new description</p>
        
            <br>
        
            <input [(ngModel)]="description">
        
            <br>
        
            <button (click)="saveChanges()" class="btn btn-primary">Submit Changes</button>
            
        </div>

    </div>

</div>

